.gg-border-style-dashed {
  transform: scale(var(--ggs,1));
}

.gg-border-style-dashed,
.gg-border-style-dashed::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  height: 2rem;
}

.gg-border-style-dashed::before {
  content: "";
  position: absolute;
  height: 4px;
  top: 12px;
  border-top: 12px dashed
} 